/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Tenali Ramakrishna", sans-serif;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding: 50px 0 0 0;
}

.section-subtitle {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  line-height: 0.9;
  margin-top: 30px;
}

p {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 0.9;
}

.section-title, .section-subtitle {
  line-height: 0.9;
}

/* First */
.first {
  background-image: url("https://images.pexels.com/photos/3815759/pexels-photo-3815759.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
}

.wrapper .navbar-brand {
  -ms-flex: 20%;
      flex: 20%;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

.wrapper .navigation ul {
  -ms-flex: 80%;
      flex: 80%;
  margin-top: 20px;
  text-align: center;
  margin-right: 50px;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}

.navigation ul li a {
  text-decoration: none;
  font-family: "Balsamiq Sans", cursive;
  color: #ffffff;
}

.navbar-brand {
  color: gold;
}

/* Splash */
.splash {
  display: -ms-flexbox;
  display: flex;
}

.splash-inner {
  padding-top: 90px;
  margin: auto;
  max-width: 70%;
  text-align: center;
}

.splash h1, .splash h2 {
  color: #ffffff;
}

.splash h1 {
  margin: 0;
  font-size: 40px;
  word-spacing: 0px;
  font-weight: 700;
}

.splash h2 {
  margin: 0;
  font-weight: 400;
  font-size: 70px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: 2px gold;
  color: #ffffff;
  background-color: gold;
  background-position: 100% 0;
  background-size: 300%;
  margin-top: 0;
  margin-bottom: 50px;
}

/*Services*/
.services {
  margin: 96px 0;
}

.ecommerce, .responsive, .security {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  font-size: 16px;
  position: relative;
}

.services i {
  font-size: 30px;
  border: 2px solid gold;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: gold;
  border-radius: 60%;
  position: relative;
}

.services i ::before {
  width: 100%;
  text-align: center;
}

.services .wrapper {
  text-align: center;
}

.card-image img {
  object-fit: cover;
}

/*Products */
.products {
  background-color: #eff2f5;
  padding-bottom: 40px;
}

.products .card-image img {
  height: 360px;
  object-fit: cover;
  width: 100%;
}

.products .card {
  background-color: white;
  margin: 20px;
}

.products h3 {
  margin: 0;
}

.products p {
  padding-bottom: 30px;
}

/* Footer */
.page-footer {
  margin: 48px 0;
}

.page-footer .media-links {
  list-style-type: none;
  text-align: center;
  padding-right: 294px;
}

.page-footer .media-links li {
  display: inline-block;
  font-size: 0;
}

.page-footer .media-links i {
  font-size: 20px;
  color: #ffffff;
  background: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 60%;
  position: relative;
}

.page-footer .media-links i ::before {
  width: 100%;
  text-align: center;
}

.page-footer .footer-wrapper {
  display: -ms-flexbox;
  display: flex;
}

.page-footer .col-lg-3 {
  margin: auto;
  font-size: 20px;
  padding-top: 20px;
}

/* Media */
@media (max-width: 767px) {
  .services .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .first .navbar-brand {
    width: 50%;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
  }
  .first .navigation {
    display: inline-block;
    width: 50%;
  }
  .first .splash {
    padding-bottom: 40px;
  }
  .first .splash h1 {
    font-size: 36px;
  }
  .first .splash h2 {
    font-size: 30px;
  }
  .first .btn {
    margin: 40px 0;
  }
  .page-footer .media-links {
    padding-left: 15%;
    padding-right: 15%;
    display: -ms-flexbox;
    display: flex;
  }
  .page-footer .media-links li {
    width: 25%;
  }
  .page-footer .col-sm-4 {
    margin-top: 20px;
  }
  .page-footer .footer-wrapper {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .services .box {
    margin: 30px 0;
  }
  .first .navbar-brand {
    width: 50%;
    text-align: left;
    display: inline-block;
    margin: 20px 0 0 80px;
    padding-left: 40px;
  }
  .first .wrapper .navigation ul {
    display: -ms-inline-grid;
    display: inline-grid;
    margin-top: 20px;
  }
  .first .splash {
    padding-bottom: 40px;
  }
  .first .splash h2 {
    font-size: 68px;
  }
  .products .card-body {
    padding-top: 30px;
  }
  .page-footer .media-links {
    padding-right: 231px;
  }
  .page-footer .col-sm-5 {
    padding-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */